@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /* Custom Stylesheet */

:root {
  --primary-color: #678d3b !important;
  --primary-hover-color: #93cb52 !important;
  --dark-color: #333 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-size: 16px;
}
